@import 'variables';

.body{
  font-family: "Roboto", sans-serif;
  padding-left: 25%;
  padding-right: 25%;
  background-color: $main_color_1;
}

.content{
  background-color: $main_color_2;
  padding-left: 12.5%;
  padding-right: 12.5%;
  padding-top: 10%;
  padding-bottom:10%;
  

  &__link {
    color: $link_color; // This makes the link text red
    text-decoration: none; // Removes the default underline (optional)

    &:hover {
      color: $link_hover; // Changes color on hover (optional)
    }
  }
}



.container_first{
  padding-top: 15px;
  display:flex;
  justify-content: space-between;

  .info{
    text-align: center;

    .phone_icon, .location_icon, .email_icon{
      height: 15px;
      width: 15px;
    }
  }
}

.container_second{
  display:flex;
  padding-top: 25px;
  justify-content: space-between;
}

.container_third{
  display:flex;
  padding-top: 25px;
  justify-content: space-between;
}

.container_fourth{
  display:flex;
  justify-content: space-between;
  padding-top: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.mk_image{
  height: 150px;
  border-radius: 50%;
  margin-left: 15%;
}

.instagram, .whatsUp, .telegram, .github {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.ukrainian, .english, .german, .french {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}


.about {
  font-size: 8px;
  position: relative; // Required for positioning the pop-up

  cursor: pointer; // Changes cursor to indicate interactivity

  .popup-text {
    visibility: hidden; // Hide the pop-up by default
    opacity: 0;
    width: 200px; // Set a fixed width for the pop-up
    background-color: $main_color_2; // Use your theme color
    color: white; // Text color
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1; // Ensure the pop-up appears above other content
    bottom: 125%; // Position the pop-up above the <h3>
    left: 50%;
    margin-left: -100px; // Center the pop-up
    transition: opacity 0.3s ease, visibility 0.3s ease; // Smooth transition
  }

  &:hover .popup-text {
    visibility: visible; // Show the pop-up on hover
    opacity: 1;
  }

  &:hover {
    transform: scale(1.1); // Optional: Enlarges text on hover
    transition: transform 0.3s ease;
  }
}

.social_media {
  display: flex;
  gap: 10px; // Adds space between icons
  padding-left: 25%;

  a {
    display: inline-block; // Ensures the link wraps the image properly
  }

  img {
    width: 25px; // Set a fixed size for the icons
    height: 25px;
    border-radius: 50%; // Optional: Makes the icons circular
    transition: transform 0.3s ease; // Optional: Adds hover effect

    &:hover {
      transform: scale(1.3); // Optional: Enlarges icons on hover
    }
  }
}


.change_language{
  display: flex;
  justify-content: flex-end;
  

  .change_language_en, .change_language_fr, .change_language_ua{
    font-size:8px;
  }
}
