.body_ps_portrait{
    padding-left: 5%;
    padding-right: 5%;
    background-color: $main_color_1;
}

.motivational__letter{
    margin-bottom: 100px;
}

.political_compas{
    width:250px;
    height:250px;
    font-size: 50px;
    padding-bottom: 25px;
}

.personalities_image {
    width: 600px;
    height:300px;
    padding-bottom: 25px;
}

.other{
    padding-top: 25px;
}
